<div class="container">
<div class="row mt-2 justify-content-center">
    
       
<div class="card text-center">
    <img class="card-img-top mx-auto mt-3" src="../../assets/icons/tr-cash.svg" alt="Pénztári tranzakció">
    <div class="card-body">
      <app-tr-cash></app-tr-cash>

    </div>
  </div>

  <div class="card text-center">
    <img class="card-img-top mx-auto mt-3" src="../../assets/icons/tr-transfer.svg" alt="Átutalás">
    <div class="card-body">
      <app-tr-transfer></app-tr-transfer>
    </div>
  </div>

  <div class="card text-center">
    <img class="card-img-top mx-auto mt-3" src="../../assets/icons/tr-report.svg" alt="Riport">
    <div class="card-body">
        <a href="/reports" class="btn btn-primary">Riportok</a>
    </div>
  </div>


</div>
</div>