.gmap{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.gmap iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.picsum-img-wrapper img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%; 
    }
    img.thumbnail {
        width: 6vw;
        margin: auto;
    }