
<div class="container">
    <div class="row mt-2 justify-content-center">
        
           
    <div class="card text-center">
        <img class="card-img-top mx-auto mt-3" src="../../assets/icons/main-user.svg" alt="Felhasználókezelés">
        <div class="card-body">
            <a class="btn btn-primary" routerLink="/users" role="button">Felhasználókezelés</a>
    
        </div>
      </div>
    

    
      <div class="card text-center">
        <img class="card-img-top mx-auto mt-3" src="../../assets/icons/main-transaction.svg" alt="Tranzakciókezelés">
        <div class="card-body">
            <a class="btn btn-primary" routerLink="/transactions" role="button">Tranzakciókezelés</a>
        </div>
      </div>
    
    
    </div>
    <app-cart></app-cart>
    <app-tr-report></app-tr-report>
    </div>