
<div class="container">

      <div class="d-flex flex-nowrap">
          
             
      <div class="card text-center w-25 p-3 ml-1 mr-1 mt-1 mb-1" *ngFor="let wine of filterWines">
        <div *ngIf="wine.discount>0" class="discount">{{wine.discount}}%</div>
        <div class="img-bg">
          <img class="thumbnail" src="http://localhost:3000/{{wine.imgs}}" >
        </div>
          
          <div class="card-body">
            <p class="onstock" *ngIf="wine.quantity>0; else nostock">Raktáron</p>
            <ng-template #nostock>
              <p class="nostock">Rendelésre</p>
            </ng-template>
              <h4>{{wine.name}}</h4>
              <p>{{wine.winery}}</p>
              <p>{{wine.year}}</p>
              <p class="price">{{wine.price}} Ft</p>
              
              
             <!-- <p>{{avgRating.avg}}</p>-->
              <a class="btn btn-primary" (click)="addToCart(wine)" role="button">Kosárba</a>
              <a [routerLink]="['/wine', wine.id]">Részletek</a>
      
          </div>
        </div>
      
      </div>
      
      </div>
      