

<div class="container">
  <div class="row mt-4 justify-content-center">
  <div class="col-md12 text-center">
    <h2 style="margin: auto">Felhasználók</h2>

  </div>
</div>
  <div class="row mt-4 justify-content-center">
<div class="col-md-4">
    
    <form>
      <div class="form-group">
        
  <input class="form-control" type="text" placeholder="Felhasználó keresése:" name="searchTerm" [(ngModel)]="searchTerm"
          (input)="search($any($event.target).value)" />
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <app-add-user></app-add-user>
  </div>
</div>


  <div class="row mt-4 justify-content-center">
  <div class="col-md-12">
    <table class="table bank">
      <thead>
      <tr>
        <th scope="col" sortable="id">ID</th>
        <th scope="col" sortable="username">Felhasználónév</th>
        <th scope="col">Név</th>
        <th scope="col">Cím</th>
        <th scope="col">Telefon</th>
        <th scope="col">E-mail</th>
        <th scope="col">Státusz</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users" [ngClass]="{'client-inactive': user.cl_status == false}">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName}} {{user.middleName}} {{user.lastName}}</td>
        <td>{{user.postcode}}, {{user.city}}, {{user.address}}</td>
        <td>{{user.tel}}</td>
        <td>{{user.email}}</td>
        <td *ngIf="user.cl_status == true">Aktív</td>
        <td *ngIf="user.cl_status == false">Törölt</td>
        
        
        
        <td> 

          <app-delete-user *ngIf="user.cl_status==true" [clnumber]=user.id></app-delete-user>
          <a class="btn btn-outline-warning" href="/client-accounts/{{user.id}}">Rendelések</a>
       
        
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
