







.table.bank{
    background: #fff;
    border: 0.1rem solid #dee2e6;
    -webkit-box-shadow: 2px 0px 15px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 0px 15px 0px rgba(50, 50, 50, 0.75);
box-shadow:         2px 0px 15px 0px rgba(50, 50, 50, 0.75);
}
.table.bank tbody tr{
    transition: 0.3s;
}
.table.bank tbody tr:hover{
background-color: #afc5f5 !important;
}
.table.bank tbody tr:hover td{
    color:#f5f7fb !important;
}
.table.bank thead tr{
    background-color: #4780ff !important;
    color:#f5f7fb !important;
}

.card.bank .card-body {
    opacity: 0;
    transition: 0.3s;
}

.card.bank:hover .card-body {
    opacity: 1;
}


.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }