

<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-md12 text-center">
      <h2 style="margin: auto">Felhasználó számlái</h2>
  
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-md-10">
    <table class="table bank">
      <thead>
      <tr>
        <th scope="col">Számlaszám</th>
        <th scope="col">Egyenleg</th>
        <th scope="col">Státusz</th>
        <th></th>
 
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let acc of accounts">
        <td>{{acc.acc_number}}</td>
        <td>{{acc.acc_balance}}</td>
        <td>{{acc.acc_status}}</td>
   
        
        
        <td><button class="btn btn-success" > Delete</button>
          <a class="btn btn-outline-warning" href="/reports/{{acc.acc_number}}">Riport</a>
         
        
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>